/* eviter des espace apres les formulaire et les liste */
form
{
	margin: 0px;
}
ul
{
	margin-bottom: 0px;
	margin-top: 0px;
}

/* eviter des ligne de couleur en dessou des images qui sont des liens */
img
{
	border: 0px;
}

/* definit l'arriere du site dans sont enssenble */
body
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
}

/* pour la demande pour démarrer le lecteur mp3 */
.demande_mp3
{
	text-align: center;
	background-color: #000000;
}

/* ceci definit la largeur du site en entier et de la partie admin*/
.cadre_largeur , .cadre_largeur_admin
{
	float: left;
	width: 898px;
	margin-left: auto;
	margin-right: auto;
	background-color: #94938E;
	background-image: url("../images/bg_cadre_largeur.gif");
	background-repeat: repeat-y;
	border: 1px solid black;
}

/* on change qq petit truc pour la partie admin */
.cadre_largeur_admin
{
	background-image: url("../images/bg_cadre_largeur_admin.gif");
	background-repeat: repeat-y;
	border: 1px solid black;
}

/* definit l'affichage des formulaire */
input, textarea, select, option
{
	background-color: #CDC9C9;
	border: solid 1px #FFFFFF;
	font-size:12px;
}
option
{
	text-align:center
}
input:focus, textarea:focus, select:focus, option:hover
{
	background-color: #FFFFFF;
}

/* changement de la couleur du champ quand il est (pas) bien rempli -- fonctionne pas sur IE -- */
.champ_bon
{
	background-color: #66FF66
}

.champ_movais
{
	background-color: #F38386
}

/* on definit le cadre pour les bulles d'aide */
.flash_poper
{
	position: absolute;
	visibility: hidden;
	font-size: 12px;
	color: #000066;
	background-color: #9DBBFF;
	border: 1px solid black;
}

/* pour quand on survole un div ou on peux cliquer pour afficher des infos, que le sourit change de curseur */
.toggle_titre, label
{
	cursor: pointer;
}

/* mise en page du haut */
.hautpage
{
	width: 100%;
	height: 84px;
	background-image: url("../images/ban_head.gif");
	background-repeat:no-repeat;
	font-weight: bold;
	border-bottom: 1px solid black;
}

/* cadre avec les liens + les styles pour les liens */
.menuliens
{
	padding: 10px 0px 10px 0px;
	background-image: url("../images/bg_menu.gif");
	background-repeat: repeat-x;
	background-color: #5C5C5C;
	color: black;
	font-weight: bold;
	font-size: 9px;
	border-bottom: 1px solid black;
	text-align: center;
}

/* endroit ou doit apparaitre les alertes */
.cadre_alert
{
	background-image: url("../images/bg_alert.gif");
	background-repeat: repeat-x;
	background-color: #424242;
	border-bottom: 1px solid black;
	border-top: 0px;
}

/* metre en valeur les alert */
.alert_visible
{
	padding: 3px;
	font-weight: bold;
	color: #FF6600;
	font-size: 14px;
}
.cadre_alert ul
{
	margin: 10px 10px 0px 20px;
}

/* c'est la ligne qui est en fait la fin de l'entete */
.end_head
{
	background-image: url("../images/end_head.gif");
	height: 20px;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

/* les colonnes gauche - centrée - droite */
.colonne_gauche
{
	float: left;
	width: 195px;
	background-image: url('../images/bg_module.gif');
}
.colonne_droite
{
	float: left;
	width: 195px;
	margin-left: 0px;
	background-image: url('../images/bg_module.gif');
}
.colonne_central
{
	float: left;
	margin-left: 12px;
	width: 496px;
}

.colonne_central_admin
{
	float: left;
	margin-left: 10px;
	width: 75%;
}

/* pas de page ou il a les information sur le copyright */
.copyright
{
	float: left;
	width: 100%;
	height: 149px;
	background-image: url("../images/bg_copyright.gif");
}
.cadre_largeur_admin .copyright
{
	background-image: url("../images/bg_copyright_admin.gif");
}
.cellule_copyright
{
	float: left;
	width: 100%;
	font-size: 10px;
	text-align: center;
	padding-top: 70px;
}

/* pour les bloques du centre
couleur des cadre pour le centre et d'autre endroit */
.news , .sous-cellule
{
	font-size: 12px;
	color: #000066;
	background-color: #B8B4B4;
}

/* definit la couleur des ligne du tableau */
tr
{
	background-color: #848484;
}

.table-cellule
{
	background-color: #1D1D1D;
}

.table-cellule-2
{
	background-color: #8C8282;
}

/* titre dans les bloques du centre */
.news h2, .table-titre
{
	margin: 0;
	font-size: 12px;
	color: #CDC9C9;
	background-color: #636363;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-image: url("../images/titre_h2.gif");
	background-repeat: repeat-x;
}

/* sous titre */
.news h3
{
	margin: 0;
	font-size: 10px;
	color: #ffffff;
	background-color: #FF6666;
	border: 2px solid #FF6600;
}

/* bloque contenant les informations dans les bloques du centre */
.news ul.header
{
	float: right;
	margin: 0 0 10px 10px;
	font-size: 12px;
	color: #CDC9C9;
	background-color: #454545;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

/* les bloques a gauche et a droite
cadre qui prendra le titre et le contenu du module */
.module
{
	background-image: url('../images/head_module.gif');
	background-repeat: no-repeat;
}

/* titre du module */
.module_titre
{
	font-weight: bold;
	color:#EEEEEE;
	height: 18px;
	text-align: center;
	padding: 5px 10px 0px 10px;
}

/* contenu du module */
.module_cellule
{
	font-size: 12px;
	color: #CDC9C9;
	background-repeat: repeat-y;
	padding: 0px 10px 0px 10px;
}

/* le bas du cadre module */
.module_foot
{
	background-image: url('../images/foot_module.gif');
	background-repeat: no-repeat;
	height: 15px;
}

/* cadre du centre */
/* ce qui entour les cadre au centre */
.big_cadre
{
	border: 1px solid #000000;
	font-size: 12px;
	margin-bottom: 18px;
	width: 483px;
	background-color: #B8B4B4;
}

/* titre du cadre au centre  et pour les titre dans un cadre dans l'admin*/
.big_cadre h1, .colonne_central_admin .big_cadre .big_cadre h1
{
	border-bottom: none;
	padding: 6px 0px 6px 0px;
	margin: 0px;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	background-image: url("../images/bg_titre.gif");
	background-repeat: repeat-x;
	background-color: #454545;
}

.big_cadre p
{
	border-top: 1px dashed #333333;
	vertical-align:middle;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	clear: both;
}
.big_cadre p label, .big_cadre p .nom_liste
{
	display : block;
	float : left;
	text-align : right;
	width : 30%;
	padding-right : 20px;
}

/* le cadre où sont les smilies */
.smilies
{
	float: left;
	width: 20%;
	margin: 0px 5% 0px 5px;
	padding: 2px;
	background-color: #636363;
	border: 1px solid black;
}
/* le cadre où on tape de grand message */
.big_texte
{
	float : left;
	width : 70%;
}

/* les liens */
a:link, a:visited
{ 
	text-decoration: none;
	color: #EDEDED;
}

/* utiliser souvent dans les modules pour afficher une info */
.reponce
{
	font-weight: bold;
}

/* couleur du nom du joueur dans la liste des membres */
.homme
{
	color: #0000FF
}

.femme
{
	color: #FF0080;
}

.table
{
	width: 100%;
}

/* definit la 1er ligne du tableau pour faire les titres des colonnes */
.calendra-normal
{
	font-size: 12px;
	color: #000066;
	background-color: #539EDF
}

/* quand ce n'est pas un jours */
.calendra-vide
{
	font-size: 12px; color: #FFFFFF; background-color: #FFFFFF
}

/* quand c'est la date d'aujourd'hui */
.calendra-today
{
	font-size: 12px; color: #999999; background-color: #444466
}

.calendra-wk
{
	font-size: 12px; color: #000066; background-color: #1191D1
}

/* bloque qui s'affiche quand il affiche sur plusieur page */
.parpage
{
	width: 482px;
	border: 1px solid #000000;
	background-color: #B8B4B4;
}

/* definit les liens dans ce bloque */
.parpage a
{
	text-decoration: none;
	color: #000000;
}
/*on augemente la largeur du cadre pour la partir admin */
.colonne_central_admin .big_cadre
{
	border: 0px;
	width: 674px;
	background-color: #848484;
}

/* pour l'administration : un cadre dans un cadre */
.big_cadre .big_cadre
{
	margin: 10px 0px 0px 10px;
	border: 1px solid #000000;
	width: 640px;
	background-color: #B8B4B4;
	float: left;
}

/* pour les couleurs du nom des serveurs de jeux et des nom des joueurs dessus */
.gsquery-black
{
	color:black
}
.gsquery-red
{
	color:red
}
.gsquery-darkgreen
{
	color:#006400
}
.gsquery-yellow
{
	color:yellow
}
.gsquery-blue
{
	color:blue
}
.gsquery-cyan
{
	color:#00FFFF
}
.gsquery-pink
{
	color:#FFC0CB
}
.gsquery-white
{
	color:white
}
.gsquery-1 { color: #F02016;}
.gsquery-2 { color: #A8BE7D;}
.gsquery-3 { color: #F1F429;}
.gsquery-4 { color: #4B48DF;}
.gsquery-5 { color: #07F7EC;}
.gsquery-6 { color: #F30AF1;}
.gsquery-7 { color: #EAE9E5;}
.gsquery-8 { color: #680ABA;}
.gsquery-9, .gsquery-a { color: #48D9B2;}
.gsquery-0 { color: #030102;}
.gsquery-b { color: #D39741;}
.gsquery-c { color: #C14CB7;}
.gsquery-d { color: #6993B9;}
.gsquery-e { color: #BD0C76;}
.gsquery-f { color: #6FC1CC;}
.gsquery-g { color: #94E258;}
.gsquery-h { color: #7E0622;}
.gsquery-i { color: #264798;}
.gsquery-j { color: #59C522;}
.gsquery-k { color: #D1AF82;}
.gsquery-l { color: #9DC0E0;}
.gsquery-m { color: #A932AA;}
.gsquery-n { color: #527B39;}
.gsquery-o { color: #A26E70;}
.gsquery-p { color: #328D6C;}
.gsquery-q { color: #AA979D;}
.gsquery-r { color: #A95CAE;}
.gsquery-s { color: #2E057F;}
.gsquery-t { color: #680728;}
.gsquery-u { color: #381F94;}
.gsquery-v { color: #20B041;}
.gsquery-w { color: #020400;}
.gsquery-x { color: #050A27;}
.gsquery-y { color: #208FC7;}
.gsquery-z { color: #AC8037;}
.gsquery-A { color: #4807E7;}
.gsquery-B { color: #44D436;}
.gsquery-C { color: #D25831;}
.gsquery-D { color: #384C71;}
.gsquery-E { color: #75A93A;}
.gsquery-F { color: #022869;}
.gsquery-G { color: #569B3E;}
.gsquery-H { color: #90697E;}
.gsquery-I { color: #5ABFDD;}
.gsquery-J { color: #9AAC9C;}
.gsquery-K { color: #ACD88B;}
.gsquery-M { color: #03D37F;}
.gsquery-N { color: #D48C14;}
.gsquery-O { color: #B6BDF1;}
.gsquery-P { color: #1DEB0F;}
.gsquery-Q { color: #EE52B5;}
.gsquery-R { color: #3D41C6;}
.gsquery-S { color: #4EEE36;}
.gsquery-T { color: #A95C4C;}
.gsquery-U { color: #804AC6;}
.gsquery-V { color: #89C6B4;}
.gsquery-W { color: #73109F;}
.gsquery-X { color: #37B4AE;}
.gsquery-Y { color: #82CB1A;}
.gsquery-Z { color: #A997D3;}
.gsquery-& { color: #0000F9;}
.gsquery-' { color: #FBF235;}
.gsquery-- { color: #1B1811;}
.gsquery-_ { color: #B21617;}
.gsquery-) { color: #15F4FB;}
.gsquery-= { color: #A0CDB9;}
.gsquery-? { color: #88D551;}
.gsquery-. { color: #5F499E;}